body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #cfcfd6;
}

.container {
    width: 95%;
    margin: auto;
}

.header {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8b8ddc;
    padding: 15px;
    gap: 20px;
}

.logo {
    background:#8b8ddc;
    padding: 12px 20px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.content {
    flex-grow: 1;
    background: #8b8ddc;
    padding: 20px;
    height: 330px;
}

.sidebar {
    flex-basis: 250px;
    background: #8b8ddc;
    padding: 20px;
    height: 330px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8b8ddc;
    padding: 20px;
    gap: 20px;
}